body {
    font: 25px Helvetica, Arial;
}

#chatWindow {
    background: rgb(215, 246, 250);
    height: Calc(100vh - 35px);
}

#submitForm {
    bottom: 0;
    background: rgb(215, 246, 250);
}

#submitForm input {
    width: 85%;
}

#submitForm button {
    width: 14%;
    background: rgb(17, 248, 0);
}

.anchorBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    white-space: pre-wrap;
}

#messages li:nth-child(odd) {
    background: #eee;
}