body {
    font: 25px Helvetica, Arial;
}

#submitForm {
    /* width:100%;
    position: fixed; */
    bottom: 0;
}

#submitForm input {
    width: 85%;
}

#submitForm button {
    width: 14%;
}

.anchorBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    white-space: pre-wrap;
}

#messages li:nth-child(odd) {
    background: #eee;
}